.com2 {
  text-align: center;
}

.main-heading {
  margin-bottom: 20px;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 50%;
  border-collapse: collapse;
  margin-left: 420px;
  margin-top: 120px;
}

th,
td {
  padding: 8px;
  border: 1px solid #dddddd;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
