.sidebar-container {
  display: flex;
  height: 100%;
  position: fixed;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  height: 100vh;
}

.sidebar-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.sidebar-menu {
  list-style-type: none;
  text-align: left;
  padding: 0;
  flex-grow: 1;
}

.sidebar-menu li {
  padding: 10px 0;
  cursor: pointer;
}

.sidebar-menu li:hover {
  background-color: #555;
}
